body{
    scroll-behavior: smooth;
}
main{
    display: flex;
    height: 100%;
}
main > .chatHistoryBar{
    background-color: #202123;
    padding: 10px 5px;
    width: 230px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
main > .chatContainer{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.newChatButtonWrapper{
    text-align: center;
}
.newChatButtonWrapper > button{
    padding: 15px 100px 15px 15px;
    background-color: rgba(0, 0, 0, 0);
    color: var(--default-text-color);
    border-style: solid;
    border-color: rgb(80, 80, 80);
    border-width: 1px;
    border-radius: 8px 8px 8px 8px;
    cursor: pointer;

    transition: background-color 0.2s ease;
}
.newChatButtonWrapper > button:hover{
    background-color: rgba(255, 255, 255, 0.05);
}       
.newChatButtonWrapper > button > .fi-sr-plus, .newChatButtonWrapper button > span{
    vertical-align: middle;
}
.newChatButtonWrapper > button > span{
    font-weight: bold;
    margin: 0 10px;
}
.chatHistoryBar > .chatHistory{
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 5px;
    gap: 0.5rem;
    white-space: nowrap;
    direction: rtl;
} 
.chatHistoryBar > .chatHistory *{
    direction: ltr;
}
.h_chatBlock{
    display: flex;
    overflow: hidden;
    min-height: 1rem;
    word-break: break-all;
    gap: 0.75rem;
    padding: 15px 10px;
    border-radius: 5px 5px 5px 5px;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;

    transition: background-color 0.2s ease;
}
.h_chatBlock:hover{
    background-color: rgba(255, 255, 255, 0.05);
}
.h_chatBlock > .h_chatIcon{
    display: block;
}
.h_chatBlock > .h_chatTitle{
    width: 15em;
    overflow-x: hidden;
    position: relative;
}
.h_chatBlock > .h_chatTitle:after{
    content:"";
    width:20%;
    position:absolute;
    right:0;
    top:0;
    height:100%;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), var(--default-bg-color))
}
.h_chatBlock .deleteIcon{
    opacity: 0;

    transition: opacity 0.4s ease;
}

::-webkit-scrollbar{
    width: 0.5em;
}
::-webkit-scrollbar-track{
    background-color: white;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(170, 170, 170);
    border-radius: 10px 10px 10px 10px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgb(200, 200, 200);
}
.chatHistoryBar > .chatHistory::-webkit-scrollbar-track{
    background-color: transparent;
}
.chatMessages{
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    direction: rtl;
    scrollbar-gutter: stable;
}
.chatMessages *{
    direction: ltr;
}
.chatMessages::-webkit-scrollbar-track{
    background-color: transparent;
}
.chatSendMessageWrapper{
    min-height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
}
.chatSendMessageContainer{
    display: flex;
    padding: 1rem 0rem 1rem 1rem;
    background-color: white;
    border-radius: 10px 10px;
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.6));
    align-items: flex-end;
    margin: 0 0 1rem 0;
}
.c_sendMessageElems{
    display: block;
}
#sendMessageText{
    resize: none;
    border-style: none;
    background-color: transparent;
    overflow: hidden;
    color: black;
    font-size: larger;
    white-space: pre-wrap;
    line-height: 16px;
}
#sendMessageText:focus{
    outline-style: none;
}
#sendMessageButton{
    border-style: none;
    background-color: transparent;
    font-size: larger;
    padding: 0 10px;
    color: grey;
}
.scrollable{
    overflow-y: auto !important;
}
.messageBlock{
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    padding: 2rem 0;
    margin: 0 10%;
}
.messageBlock > .cm_contentContainer{
    line-height: 1.5rem;
}
.roleIcon{
    object-fit: contain;
    height: 1.8rem;
}
.messageBlockWrapper{
    background-color: #292929;
}
.m_chatGpt_wrapper{
    background-color: #3e3e3e;
    border-style: solid;
    border-width: 1px 0;
    border-color: #545454;
}
.defaultMessageContainer{
    text-align: center;
    flex: 1;
    padding: 5rem 2rem;
}
.defaultMessageContainer img{
    height: 4rem;
    filter: drop-shadow(0 0 1rem var(--default-link-color)) brightness(0) saturate(100%) invert(50%) sepia(73%) saturate(254%) hue-rotate(211deg) brightness(79%) contrast(88%);
}
.defaultMessageContainer h2{
    color: var(--default-link-color);
    text-shadow: 0 0 1rem var(--default-link-color);
}
.defaultMessageContainer p{
    line-height: 2rem;
}
.cm_contentContainer > pre{
    white-space: normal;
    background-color: black;
    border-radius: 0.5rem;
    filter: drop-shadow(0 0 6px black);
}
.cm_contentContainer > pre > code{
    display: block;
    padding: 1.2rem 1rem;
    white-space: pre-wrap;
}
.cm_contentContainer > pre > .codeTop{
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
    background-color: #343541;
    padding: 0.2rem 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    display: flex;
    align-items: center;
}
.cm_contentContainer > pre > .codeTop > .m_codeLangName{
    flex: 1;
}
.cm_contentContainer > pre > .codeTop > .m_codeCopyContainer{
    display: flex;
    align-items: center;
    column-gap: 0.3rem;
    cursor: pointer;
}
.cm_contentContainer > pre > .codeTop > .m_codeCopyContainer > .m_copyCodeIcon{
    font-size: larger;
}
.cm_contentContainer .c_highlightKeyword{ 
    color: #4e8cff;
}
.cm_contentContainer .c_highlightFunction{
    color: red;
}
.cm_contentContainer > p{
    margin-block-start: 0;
    margin-block-end: 1.5em;
}

/*Gpt text loader*/
.custom-loader {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: 
      radial-gradient(farthest-side,#D3D9E9 94%,#0000) top/4px 4px no-repeat,
      conic-gradient(#0000 30%,#D3D9E9);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 4px),#000 0);
    animation:s3 1s infinite linear;
  }
  
  @keyframes s3{ 
    100%{transform: rotate(1turn)}
}