main{
    display: flex;
    height: 100%;
    gap: 0.5rem;
}
main > aside{
    width: 20em;
    padding: 1em 0.5em;
    background-color: #202123;
}
main > .hours{
    flex: 1;
}
#create-task{
    padding: 1em 1.2em 1em 1.2em;
    border-radius: 2em;
    display: flex;
    align-items: center;
    gap: 1em;
    font-size: 1em;
    cursor: pointer;
    background-color: transparent;
    color: var(--default-text-color);
    border-style: solid;
    border-width: 2px;
    border-color: rgb(80, 80, 80);
    transition: background-color 0.2s ease;
}
#create-task:hover{
    background-color: rgba(255, 255, 255, 0.05);
}
#create-task-icon{
    font-size: 1.5em;
}

.calendar{
    margin-top: 2em;
}
.calendar-top{
    text-align: center;
    font-size: 1.4em;
    margin: 1.5em 0;
    display: flex;
    justify-content: center;
}
#calendar-month{
    margin: 0 1em;
    flex: 0.75;
}
.calendar-month-changer{
    cursor: pointer;
    vertical-align: middle;
}
.calendar > ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-inline-start: 0;
}
.calendar > ul > li{
    position: relative;
    width: calc(100% / 7);
    text-align: center;
}
.calendar-days > li{
    margin: 0.5em 0;
    cursor: pointer;
    z-index: 1;
}
.calendar-days > li::before{
    position: absolute;
    content: "";
    height: 2em;
    width: 2em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    border-radius: 50%;
    
    transition: background-color 0.3s ease;
}
.calendar-days > li:hover::before{
    background-color: rgba(255, 255, 255, 0.1)
}   
.calendar-days > .inactive-days{
    opacity: 0.5;
}
#calendar-selected-day::before{
    background-color: var(--default-link-color);
}
.hours{
    overflow-y: auto;
    direction: rtl;
    scrollbar-gutter: stable;
    padding: 1em 0 1em 1em;
    position: relative;
}
.hours::-webkit-scrollbar-track{
    background-color: transparent;
}
.hours *{
    direction: ltr;
}
.hour{
    font-size: 12px;
    display: flex;
}
.hour > span{
    display: block;
    width: 45px;
}
.hour > div{
    padding-top: 6px;
    flex: 1;
    border-style: inset;
    border-width: 0 0 0 2px;
    margin-inline-start: 5px;
}
.hour > div > .hour-quarters-wrapper > hr{
    margin: 0;
    background: none;
    border-style: solid;
    border-width: 2px 0 0 0;
    border-color: white;
    padding: 5px 0;
}
.hour > div > .hour-quarters-wrapper > .hour-quarters{
    border-color: rgba(255, 255, 255, 0.5);
    border-top-width: 1px;
    transform: none;
}
.hour > div > .hour-wrapper{
    transform-origin: right;
    transform: scaleX(1.01);
    position: relative;
}
.hour > div > .hour-quarters-wrapper{
    position: relative;
}
.hour > div > .hour-quarters-wrapper > .fi-ss-circle{
    position: absolute;
    top: -3px;
    left: -8px;
    font-size: 10px;
    color: #A6A9C8;
}
.hour > div > #selectedTime > hr{
    border-top-color: #A6A9C8;
    border-top-width: 4px;
}
.hours > #hours-task-box{
    background-color: #A6A9C8;
    position: absolute;
    width: 80%;
    box-shadow: 0 3px 10px 2px var(--default-shadow-color);
    border-radius: 10px;
    padding-inline-start: 0.5em;
}
main > aside > div{
    border-bottom: 1px solid transparent;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-image: linear-gradient(90deg, transparent, rgba(255, 255,255, 0.5), transparent) 1;
}
.task-dates{
    display: flex;
}
.task-dates > div{
    flex: 1;
}
.create-task-wrapper  [type="text"]{
    background-color: transparent;
    border-style: none;
}