@import url('http://localhost/scheduler/includes/packages/node_modules/@flaticon/flaticon-uicons/css/all/all.css');
:root{
    --primary-color: #4a3b63;
    --secondary-color: #31293F;
    --accent-color: #7e00b5;
    --default-text-color: #D3D9E9;
    --default-link-color: #796EA8;
    --default-button-color: var(--default-link-color);
    --default-bg-color: #1F1F1F;
    --default-shadow-color: rgba(255, 255, 255, 0.3);
}
body{
    background-color: var(--default-bg-color);
    margin: 0;
    color: var(--default-text-color);
    font-family: Arial, Helvetica, sans-serif;
}
img{
    object-fit: contain;
    height: 100%;
}
a{
    text-decoration: none;
    color: var(--default-link-color);
    transition: color 0.4s ease;
}
a:hover{
    color: var(--accent-color);
}
header{
    display: flex;
    align-items: center;
    background-color: #31293F;
}
header div{
    flex: 0.75;
}
nav ul{
    list-style-type: none;
    padding-inline-start: 0;
    text-align: center;

    transform: translateY(-150px);
    transition: transform 0.4s ease;
}
.navAnim{
    transform: translateY(0);
}
nav .currentPageNavElem a{
    color: #A6A9C8;
}
nav .currentPageNavElem a:hover{
    color: var(--accent-color);
}
nav li{
    margin: 10px 0 10px 0;
}
.menuContainer{
    display: flex;
    align-items: center;
}
.menuContainer nav{
    flex: 1.5;
}
.menuButtonContainer .navButton{
    font-size: 50px;
    color: var(--default-text-color);

    cursor: pointer;

    transition: color 0.4s ease;
}
.navButton:hover{
    color: #A6A9C8;
}
.menuButtonContainer{
    text-align: center;
    flex: 0.5;
}
.brandContainer img{
    filter: brightness(0) saturate(100%) invert(50%) sepia(81%) saturate(734%) hue-rotate(154deg) brightness(104%) contrast(106%);;
    width: 60%;
}
.brandContainer h1{
    margin-left: 10px;
}
.weatherBlock{
    flex: 1.5;
}
.weatherContainer li img{
    width: 40px;
    margin-left: -7%;
}
.weatherContainer{
    display: flex;
    align-items:flex-start;
    list-style-type: none;
    padding-inline-start: 0;
}
.weatherContainer li{
    margin: 0 2% 0 2%;
}
.weatherContainer li p{
    margin: 8px 8px 8px 0;
    font-size: small;
}
.weatherContainer li h4{
    margin: 10px 0 20px 0;
}

.weatherWidgets{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    margin: 30px 5px;
    cursor: default;
    align-items: center;
}
.weatherWidget{
    text-align: center;
    filter: drop-shadow(0 0 10px var(--default-shadow-color));
}
.weatherIconContainer{
    background-color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.weatherIconContainer img{
    height: 100px;
    object-fit: contain;
    padding: 20px 0 20px 0;
}
.weatherInfo{
    display: flex;
    align-items: stretch;
}
.weatherInfo > div{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.weatherInfo > .date, .weatherInfo > .conditionAndRegion{
    background-color: black;
}
.conditionAndRegion > h4{
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: 100;
}
.conditionAndRegion{
    padding: 10px 0;
}
.temperature{
    background-color: var(--primary-color);
    font-size: 15px;
    border-bottom-left-radius: 10px;
}
.conditionAndRegion > .condition{
    font-size: 15px;
}
.conditionAndRegion > .region{
    font-size: 15px;
    font-weight: bolder;
}
.date{
    font-size: 15px;
    border-bottom-right-radius: 10px;
}

.temperature .minTemp, .temperature .maxTemp{
    max-height: 0;
    overflow-y: hidden;

    transition: max-height 1s ease;
}
.weatherWidgetTempAnim{
    max-height: 40px !important;
}
::-webkit-scrollbar{
    width: 0.5em;
}
::-webkit-scrollbar-track{
    background-color: white;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(170, 170, 170);
    border-radius: 10px 10px 10px 10px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgb(200, 200, 200);
}